.grid-container.full
	.grid-x.grid-padding-x
		.cell #{locals.name}  
		.cell #{locals.contact.site} 
		.cell #{locals.contact.email} 
		.cell #{locals.contact.phone} 
		.cell #{locals.address.street}
		.cell #{locals.address.city} 
		.cell #{locals.address.state}
		.cell MAPA
		.cell #{locals.rating} 

// set autoindent noexpandtab tabstop=4 shiftwidth=4
